<header>

    <nav class="navbar navbar-expand-lg navbar-dark pink scrolling-navbar">
        <a class="navbar-brand m-auto" href="#" ><strong>Audio App</strong></a>
        <div class="navbar-brand m-auto">
            <strong><span><i class="fas fa-volume-up pr-2"></i></span>
                   <input type="range" min="0" max="1" step="0.01" value="0.5" (input)="setVolume($event)">
            </strong>
        </div>
    </nav>

</header>


<div class="container-fluid m-auto pt-5">
    <div class="col-12 p-5" *ngFor="let file of files" (click)="openFile(file.url)">
        {{file.name}}
    </div>
    <br>
</div>

<footer class="page-footer pink text-center" style="height: 30vh;">
  
    <div class="pt-5">
        <button type="button" class="btn btn-secondary" (click)="play()"><i class="fas fa-play"></i></button>
        <button type="button" class="btn btn-secondary" (click)="pause()"><i class="fas fa-pause"></i></button>
        <button type="button" class="btn btn-secondary" (click)="stop()"><i class="fas fa-stop"></i></button>
        <br><br>

        <input type="range" min="0" max="{{currentTime}}" [value]="seek" (input)="setSeekTo($event)" style="width: 89vw;">
        <span class="pt-3" style="float: left;">{{currentTime}}</span>
        <span class="pt-3" style="float: right;">{{duration}}</span>

    </div>
  
</footer>
